In [2]:
a = 5
b = 7
m = a if a > b else b
print(m)

7

In [3]:
if True:
    pass

print('Foo')

Foo

In [9]:
n = 3
sum = 0

while n > 0:
    sum += int(input('Enter an integer:'))
    n -= 1
    
print(sum)

Enter an integer: 1
Enter an integer: 2
Enter an integer: 3

6

In [19]:
a = ['foo', 'bar', 'baz']

while a:  #true as long as a has elements in it
    print(a)
    print(a.pop())

['foo', 'bar', 'baz']
baz
['foo', 'bar']
bar
['foo']
foo

In [20]:
n = 5
while n > 0:
    n -= 1
    if n == 2:
        break
    print(n)
print('Loop ended.')

4
3
Loop ended.

In [21]:
n = 5
while n > 0:
    n -= 1
    if n == 2:
        continue
    print(n)
print('Loop ended.')

4
3
1
0
Loop ended.

In [22]:
n = 5
while n > 0:
    n -= 1
    print(n)
else:
    print('Loop done.')

4
3
2
1
0
Loop done.

In [24]:
n = 5
while n > 0:
    n -= 1
    print(n)
    if n == 2:   #else clause won't execute if loop does not exhaust
        break
else:
    print('Loop done.')

4
3
2

In [27]:
x = ['foo', 'boo', 'moo']
y = 'who'

try:
    print(x.index('who'))
except ValueError:
    print(y, 'not found in list')

who not found in list

In [28]:
a = ['foo', 'bar']
while len(a):
    print(a.pop(0))
    b = ['baz', 'qux']
    while len(b):
        print('>', b.pop(0))

foo
> baz
> qux
bar
> baz
> qux

In [29]:
a = ['a', 'b', 'c', 'd', 'e', 'f']
for i in a:
    print(i)

a
b
c
d
e
f

In [32]:
a = ['a', 'b', 'c', 'd', 'e', 'f']
itr = iter(a)
print(list(itr))
print(tuple(itr))
print(set(itr))

['a', 'b', 'c', 'd', 'e', 'f']
()
set()

In [33]:
a = ['a', 'b', 'c', 'd', 'e', 'f']
itr1 = iter(a)
itr2 = iter(a)
itr3 = iter(a)
print(list(itr1))
print(tuple(itr2))
print(set(itr3))

['a', 'b', 'c', 'd', 'e', 'f']
('a', 'b', 'c', 'd', 'e', 'f')
{'a', 'd', 'e', 'c', 'b', 'f'}

In [36]:
d = {'A': 1, 'B': 2, 'C': 3, 'D': 4, 'E': 5}
for k in d:
    print(k)

A
B
C
D
E

In [37]:
d = {'A': 1, 'B': 2, 'C': 3, 'D': 4, 'E': 5}
for k in d:
    print(d[k])

1
2
3
4
5

In [39]:
d = {'A': 1, 'B': 2, 'C': 3, 'D': 4, 'E': 5}
for k in d.values():
    print(k)

1
2
3
4
5

In [41]:
for i in [(1, 2), (3, 4), (5, 6)]:
    print(i)

(1, 2)
(3, 4)
(5, 6)

In [42]:
for i, j in [(1, 2), (3, 4), (5, 6)]:
    print(i, j)

1 2
3 4
5 6

In [43]:
d = {'A': 1, 'B': 2, 'C': 3, 'D': 4, 'E': 5}
for k, v in d.items():
    print(k, v)

A 1
B 2
C 3
D 4
E 5

In [44]:
x = range(10)
print(list(x))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [45]:
y = range(5, 55, 5)
print(tuple(y))

(5, 10, 15, 20, 25, 30, 35, 40, 45, 50)